@media print {
    @page {
        margin: 20px;
        size: auto;
    }

    /* Remove deadspace at the top of the page */
    body {
        margin-top: -30px !important;
    }

    /* Remove the site navigation */
    .navbar {
        display: none !important;
    }

    /* Remove padding that separates the navbar and blog container */
    .blog-item {
        padding-top: 0 !important;
    }

    /* Remove the promo banner */
    .cross-promo {
        display: none !important;
    }

    /* Remove the padding on the post container */
    .entry-header {
        padding-top: 0 !important;
    }

    /* Reduce the size of the article title and add some more bottom spacing */
    .entry-title {
        font-size: 30px !important;
        line-height: 36px !important;
        margin-bottom: 20px !important;
    }

    /* Remove width restrictions on author details */
    .details {
        clear: none !important;
        display: block !important;
        float: none !important;
        margin-top: 30px !important;
        padding-left: 0 !important;
    }

    /* Center align author attributions and reduce font size */
    .details,
    .details > .attribution,
    .details > .attribution span,
    .details > .entry-header-date {
        font-size: 14px !important;
        line-height: 18px !important;
        text-align: center !important;
    }

    /* Remove styling from author image wrappers */
    .details a {
        border: 0 !important;
        margin: 0 !important;
    }

    /* Reduce the size of author images */
    .details img {
        height: 40px !important;
        width: 40px !important;
    }

    /* Remove the line break used in author attribution */
    .details > .attribution span br {
        content: '';
    }

    /* Add comma instead of the line break in author attribution */
    .details > .attribution span br::before {
        content: ', ';
        margin-right: 4px;
    }

    /* Reduce the spacing between the header and content container */
    .gbh-blog-item .entry-content {
        margin-top: -20px !important;
    }

    /* Increase the width of the copy and image columns */
    .gbh-blog-item .image-block,
    .gbh-blog-item .sqs-block-html,
    .gbh-blog-item .quote-block {
        clear: none !important;
        float: none !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        max-width: 100% !important;
        width: 100% !important;
    }

    /* Reduce line length of text blocks */
    .gbh-blog-item .sqs-block-html p {
        padding-right: 100px !important;
    }

    /* Reduce the size of the main body copy */
    .html-block p {
        font-size: 16px !important;
        line-height: 22px !important;
    }

    /* Remove additional padding on images */
    .gbh-blog-item .entry-content .image-block-outer-wrapper {
        padding: 0 !important;
    }

    /* Remove indent from blockquote */
    .gbh-blog-item .quote-block > .sqs-block-content {
        padding-left: 60px !important;
    }

    /* Remove negative margin of blockquote quote */
    figure blockquote span:first-child {
        left: 0 !important;
    }

    /* Reduce the size of blockquotes */
    .gbh-blog-item .entry-content blockquote {
        font-size: 24px !important;
        line-height: 30px !important;
    }

    /* Reduce size of section titles */
    .gbh-blog-item .code-block .sqs-block-content div div {
        font-size: 18px !important;
        margin: 20px auto !important;
        padding: 14px 20px !important;
    }

    /* Hide article footer content */
    .sqs-block:last-child,
    .cross-promo-container,
    .entry-footer {
        display: none;
    }

    /* Hide site footer content */
    .secondary-wrapper,
    .footer {
        display: none !important;
    }
}
